body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;

}

h1 {

}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

p {
    font-size: 15px;
    line-height: 28px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.section-title {
    margin-bottom: 70px;

}

.section-title h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.section-title p {
    font-family: 'Shree Devanagari 714';
    color: black;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 40px 0;
    perspective: 600px;
}

header {
    background: white;
    padding: 20px 0;
}

header .navbar-brand {
    padding-top: 10px;
}

header .navbar-default {
    background: none;
    border: 0px;
}

header .navbar-default .navbar-nav li a {
    padding: 40px 26px;
    font-size: 15px;
    color: black;
}

font header .navbar-default .navbar-nav li a:hover {
}


.button {
    text-align: center;
    color: coral;

}

#slider {
    background: url("../img/maxresdefault.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10% 0%;
    padding: 200px 0 280px 0;
    position: relative;
}

#slider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #8b86a3, #322e40);
    opacity: 0.8;
}

#slider .block {
    color: #E3E3E4;
}

#slider .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-bottom: 45px;
}

#slider .block p {
    font-size: 23px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
}

#intro {
    padding: 100px 0;
}

#intro .block h2 {
    padding-top: 35px;
    line-height: 27px;
    margin: 0;
}

#intro .block p {
    color: #7B7B7B;
    padding-top: 20px;
}

#intro .block img {
    padding-left: 40px;
    width: 100%;
}

#intro .section-title {
    margin-bottom: 0px;
}

#intro .section-title p {
    padding-top: 20px;
}

#service {
    text-align: center;
    padding: 90px 0;
}

#service .service-item {
    padding-bottom: 30px;
}

#service .service-item i {
    font-size: 60px;
    color: #4A4656;
}

#service .service-item h4 {
    padding-top: 20px;
    margin: 0;
    color: white;
}

#service .service-item p {
    color: white;
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
}

#call-to-action {
    background: url("../img/T7X54VMVLVEEZDXO5YWWJDQLWY.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 310px 0px;
    position: relative;
    text-align: center;
    color: #fff;
}

#call-to-action:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #1d192c;
    opacity: 0.8;

}

#call-to-action h2 {
    padding-bottom: 20px;
    line-height: 33px;
    margin: 0;
    font-size: 30px;
}

#call-to-action p {
    font-size: 14px;
    line-height: 1.6;
}

#call-to-action .btn-call-to-action {
    padding: 15px 35px;
    border: none;
    background-color: #fff;
    font-size: 15px;
    color: #333333;
    margin-top: 30px;
}

#feature {
    background: url("../img/thumb2-dj-4k-night-club-dj-console.jpg");
    width: 100%;
    display: block;
    position: relative;
    overflow: visible;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 100px 0;
    color: whitesmoke;
}

#feature h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: whitesmoke;

}

#feature p {
    color: white;
    margin-bottom: 20px;
    color: whitesmoke;
}

#feature .btn-view-works {
    background: #655E7A;
    color: #fff;
    padding: 10px 20px;
}

#clients-logo-section {
    padding-top: 30px;
    padding-bottom: 75px;
}

#clients-logo-section .clients-logo-img {
    padding: 0px 50px;
}

#global-header {
    padding-top: 150px;
    padding-bottom: 107px;
    position: relative;
    background: lightcoral;
}

#global-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(orange, red 50%);
    opacity: 0.7;
}

#global-header .block {
    color: black;
    text-align: center;
}

#global-header .block h1 {
    font-weight: 100;
    font-size: 45px;
    letter-spacing: 6px;
    padding-bottom: 15px;
    margin-top: 0;
    text-transform: capitalize;
}

#global-header .block p {
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 3px;
    background: whitesmoke;
    padding: 10px;
}

#wrapper-work {
    overflow: hidden;
    padding-top: 100px;
}

#wrapper-work ul li {
    width: 50%;
    float: left;
    position: relative;
}

#wrapper-work ul li img {
    width: 100%;
    height: 100%;
}

#wrapper-work ul li .items-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding-left: 44px;
    padding-top: 140px;
}

#wrapper-work ul li .items-text h2 {
    padding-bottom: 28px;
    padding-top: 75px;
    position: relative;
}

#wrapper-work ul li .items-text h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 3px;
    background: #fff;
}

#wrapper-work ul li .items-text p {
    padding-top: 30px;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    padding-right: 80px;
}


#features-work {
    padding-top: 50px;
    padding-bottom: 75px;
}

#features-work .block ul li {
    width: 19%;
    text-align: center;
    display: inline-block;
    padding: 40px 0px;
}


#slider-contact {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 107px;
    position: relative;
}

#slider-contact:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #928dab, #1f1c2c 70%);
    opacity: 0.8;
}

#slider-contact .block {
    color: #E3E3E4;
    margin: 0 auto;
    padding-left: 90px;
}

#slider-contact .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 6px;
    padding-bottom: 15px;
}

#slider-contact .block p {
    font-size: 23px;
    line-height: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
}

#contact-form {
    padding-top: 70px;
    padding-bottom: 35px;
}

#contact-form .block form .form-group {
    padding-bottom: 15px;
    margin: 0px;
}

#contact-form .block form .form-group .form-control {
    background: whitesmoke;
    height: 60px;
    border: 1px solid #EEF2F6;
    box-shadow: none;
    width: 100%;
}

#contact-form .block form .form-group-2 {
    padding-bottom: 15px;
    margin: 0px;
}

#contact-form .block button {
    width: 100%;
    height: 60px;
    background: black;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.address-block li {
    margin-bottom: 20px;
}

.address-block li i {
    margin-right: 15px;
    font-size: 20px;
    width: 20px;
}

#contact-box {
    padding-top: 35px;
    padding-bottom: 58px;
}

#contact-box .block img {
    width: 100%;
}

#contact-box .block h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 28px;
    padding-bottom: 30px;
}

#contact-box .block p {
    color: #5C5C5C;
    display: block;
}

#features-contact {
    padding-top: 50px;
    padding-bottom: 75px;
}

#features-contact .block ul li {
    width: 19%;
    text-align: center;
    display: inline-block;
    padding: 40px 0px;
}

.heading {
    padding-bottom: 60px;
    text-align: center;
}

.heading h2 {
    color: #000;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

.heading p {
    font-size: 18px;
    line-height: 40px;
    color: #292929;
    font-weight: 300;
}

footer {
    background: #F5F5F5;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 55px;
}

footer p {
    font-size: 13px;
    line-height: 25px;
    color: #919191;
}

footer a {
    color: #595959;
}

footer .footer-manu {
    padding-bottom: 25px;
}

footer .footer-manu ul {
    margin: 0px;
    padding: 0px;
}

footer .footer-manu ul li {
    display: inline-block;
    padding: 0px 20px;
}

footer .footer-manu ul li a {
    display: inline-block;
    color: #494949;
}

footer .footer-manu ul li a:hover {
    color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 800px;
    height: 300px;
    perspective: 1000px;
    padding: 10px;
}

.flip-card-inner {
    position: relative;
    width: 145%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);

}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-image: url("https://www.retrofestival.co.uk/wp-content/uploads/2018/08/ticket.jpg");
    color: black;
}

.flip-card-back {
    background-color: whitesmoke;
    color: coral;
    transform: rotatex(180deg);

}


.container .searchEl {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: orange;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container .searchElhover {
    cursor: pointer;
}

.container .searchEl::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}

.container .searchEl::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}

.container .search-box input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: coral;
    color: white;
    text-shadow: 0 0 10px coral;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 coral, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.container .search-box input:hover {
    cursor: pointer;
}

.container .search-box input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.container .search-box input:focus ~ .search {
    left: -450px;
    background: #151515;
    z-index: 6;
}

.container .search-box input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.container .search-box input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.container .search-box input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}







